<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>jenkins-releases</id>
            <username>jenkins</username>
            <password>J3nk1ns@</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>jenkins-releases</id>
            <repositories>
                <repository>
                    <id>jenkins-releases</id>
                    <url>http://192.168.56.3:8091/repository/maven-releases/com/java/quarkus-hello/1.0.0/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>jenkins-releases</id>
                    <url>http://http://192.168.56.3:8091/repository/maven-releases/com/java/quarkus-hello/1.0.0/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>jenkins-releases</activeProfile>
    </activeProfiles>
</settings>